body{
    background:#F1EEEE;
    font-family: Helvetica,Arial,sans-serif;
}

.form-control{
    background:#F5F5F5;
}

.form-control::placeholder { 
    color: #D1D1D1;
    font-size: 16px;
    padding: 7px 18px;
}

.form-control:focus{
    background:#fff;
    -webkit-transition: all ease-in-out .55s;
    -o-transition: all ease-in-out .55s;
    transition: all ease-in-out .55s;
}
.form-control:not(focus){
    background:#F5F5F5;
    -webkit-transition: all ease-in-out .55s;
    -o-transition: all ease-in-out .55s;
    transition: all ease-in-out .55s;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 6px;
    box-shadow: 0 6px 10px -4px rgba(0,0,0,.50);
    margin-top: 10px;
}

.radius-btn{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

#layoutSidenav_content{
    margin-top: -48px;
}

.row{
    margin-top: 30px;
    text-align: center;


}


